.App {
  text-align: center;
  height: 800px;
  width: 1000px;
  background-color: rgb(158, 197, 197);
  display: flex;
  margin: 20px auto;
}
.container{
  display: grid;
  width: 600px;
  height: 600px;
  grid-auto-rows: minmax(min-content, max-content);
  
  
}
.white{
 background-color: rgb(216, 208, 208);
 display: inline-block;
 
 
}

.black{
  background-color: black;
  display: inline-block;
}

.box{


  border: 1px solid #ddd;
  text-align: center;
}

