.App {
  text-align: center;
  height: 800px;
  width: 1000px;
  background-color: rgb(158, 197, 197);
  display: flex;
  margin: 20px auto;
}
.container{
  grid-auto-flow: row;
  
}
.bg{
 background-color: rgb(216, 208, 208);
 display: inline-block;
 
 
}


